{% extends "base.html" %}
{% block main %}
<section class="section row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header text-center">
                <h6 class="card-title">{{ socio.codigo }} 
                    <span>
                        : {{ socio.nombre }} {{socio.apellido}}
                    </span> 
                </h6>
            </div>
            <div class="card-body">
                <h5 class="card-title">Realizar Lectura</h5>
                <form class="row g-3" action="" method="post">{% csrf_token %}
                    {% for field in form %}
                    <div class="col-12">
                        <label class="form-label" for="{{ field.auto_id }}">{{field.label}}</label>
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" onclick="window.confirm('Esta seguro de registrar la lectura para el mes correspondiente')">Aceptar</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="confirmar">
</div>
{% endblock %}
<script>
    function confirmacion(){
        var respuesta = confirm('Desea guardar los datos?');
        if (respuesta == true){
            return true
        }
        else{
            return false
        }
    }
</script>